/BoyerMoore.class
/Caching.class
/Frequency$1.class
/Frequency.class
/FrequencyAnalysis$1.class
/FrequencyAnalysis.class
/LRUCache$DoublyLinkedlist.class
/LRUCache$Node.class
/LRUCache.class
/OpenBrowser.class
/ParseData.class
/WebCrawler.class
/PatternEvaluation.class
